<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
	

	<!-- <bean id="tv1" class="polymorphism.SamsungTV" p:speaker-ref="sony" p:price="2700000"></bean>

	<bean id="tv1" class="polymorphism.LgTV">
		<constructor-arg ref="apple"></constructor-arg>
		<constructor-arg value="500" type="int"></constructor-arg>
	</bean>
	<bean id="tv2" class="polymorphism.LgTV"/>
	<bean id="sony" class="polymorphism.sonyTV"/>
	
	<bean id="sony" class="polymorphism.SonySpeaker"/>
	<bean id="apple" class="polymorphism.AppleSpeaker"/> -->
	
	
	<!-- <bean id="CollectionBean" class="com.springbook.injection.CollectionBean">
		<property name="addressList">
			<list>
				<value>서울시 강남구 역삼동</value>
				<value>서울시 성동구 행당동</value>
			</list>
		</property>
		
		<property name="addressSet">
			<set value-type="java.lang.String">
				<value>서울시 강남구 역삼동</value>
				<value>서울시 성동구 성수동</value>
				<value>서울시 성동구 동동동</value>
			</set>
		</property>
		
		<property name="addressMap">
			<map>
				<entry>
					<key><value>고길동</value></key>
					<value>서울시 강서구 화곡동</value>
				</entry>
				
				<entry>
					<key><value>마이콜</value></key>
					<value>서울시 강서구 역삼동</value>
				</entry>
				<entry key="마이콜2" value="서울시 강서구 화곡동" />
			</map>
		</property>
		
		<property name="addressProperties">
			<props>
				<prop key="고길동">서울시 강남구 역삼동</prop>
				<prop key="마이콜">서울시 강남구 둔촌동</prop>
			</props>
		</property>
		
	</bean> -->
	
	<!-- <context:component-scan base-package="polymorphism"></context:component-scan> -->
	
	<context:component-scan base-package="com.springbook.biz"></context:component-scan>
	
	<!-- <bean id="userService" class="com.springbook.biz.user.impl.UserServiceImpl">
		<property name="userDAO" ref="userDAO"/>
	</bean>
	
	<bean id="userDAO" class="com.springbook.biz.user.impl.UserDAO"/> -->
	
	<bean id="log" class="com.springbook.biz.common.Log4jAdvice"></bean>
	
	<!-- * 어떤 반환값이 와도 상관없다. /// 함수명(..) 어떤거든 상관없다. -->
	<aop:config>
		<aop:pointcut expression="execution(* com.springbook.biz..*Impl.*(..))" id="allPointcut"/>
		<aop:aspect ref="log">
			<aop:before pointcut-ref="allPointcut" method="printLogging"/>
		</aop:aspect>
	</aop:config>
	
</beans>
